/* LiveScoresPage.module.css */

.container {
  max-width: 40%;
  margin: 0 auto;
  padding: 10px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.dropdown select {
  width: 80%; /* set to a width that fits your design */
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: #212121;
}

.dropdown select:focus {
  outline: none;
  border-color: #e74c3c;
}

.event {
  background-color: #212121;
  color: #ffffff;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 20px, 20px, 20px;
  margin: 20px, 20px, 20px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the children elements */
  border: 2px solid #e74c3c;
  border-radius: 8px;
}

.event:hover {
  transform: scale(1.05);
}

.event h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event p {
  margin: 5px 0;
}

.event img {
  max-width: 100%;
  height: 200px;
  object-fit: cover; /* This will make sure your image covers the whole width of the container */
  margin-bottom: 10px;
  align-self: center; /* This will center the image */
}
