:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #ffffff; /* changing primary text color to white for icons */
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #23232e;
  --transition-speed: 600ms;
}

body {
  color: rgb(211, 205, 205);
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  width: 5rem;
  height: 100vh;
  transition: width 600ms ease-in-out;
  border-right: solid 5px;
  border-color: #ff5000;
  box-shadow: 0.15rem 0.15rem 0.55rem rgba(255, 115, 0, 0.925);
  overflow: hidden;
  z-index: 10;
  display: flex; /* Add this line to make flex-direction work */
  flex-direction: column; /* Move flex-direction from .navbar-nav to .navbar */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  /* justify-content: center; Remove this line */
  display: flex;
  flex-direction: column; /* Move flex-direction from here to .navbar */
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  padding-bottom: 50px;
}

.navbar:hover {
  transition: width 600ms ease-in-out;
  width: 22rem;
  overflow: visible;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none !important;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  min-width: 26rem;
  flex-wrap: nowrap;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: var(--text-secondary);
  text-decoration: none !important;
  transition: var(--transition-speed);
  transition-delay: 2600ms;
}

.nav-icon {
  width: 5rem; /* Making icons bigger */
  min-width: 5rem; /* Making icons bigger */
  margin: 0 1.5rem;
  font-size: 30px;
  padding-top: 45px;
  color: var(--text-primary);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.navbar:hover .link-text {
  display: inline;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    transition: height 600ms ease-in-out;
  }

  .navbar:hover {
    overflow: visible;
    width: 100vw;
    height: 12rem;
    transition: height 600ms ease-in-out;
  }
  
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .link-text {
    display: none; /* Hide link-text on smaller screens */
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    top: 0;
    width: 10rem;
    height: 100vh;
  }
  

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
